body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #f5f5f5;*/
  background-color: #606060;
  font-size: 10pt
}

div.canvas {
  /*border:1px solid black;*/
  background-color: #ffffff;
  position:relative;
  overflow:auto;
  /*width:100%*/
}

div.shutdown-notice {
  font-weight: bold;
  color: red;
}

.shutdown-notice-message {
  font-weight: bold;
  color: black;
}

td.status-column {
  text-align: center;
}

div.node-inner-div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.all-nodes {
  border: 1px solid black;
  font-size: 9pt;
  position: absolute;
}

div.node {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.waiting {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #51a351;
  background-color: #62c462;
  background-color: #aaaaaa;
  background-color: #dddddd;
  background-color: #7ab5d3;
  background-color: #336699;
  background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: linear-gradient(to bottom, #dddddd, #aaaaaa);
}

div.running {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #7ab5d3, #336699);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ab5d3), to(#336699));
  background-image: -webkit-linear-gradient(top, #7ab5d3, #336699);
  background-image: -o-linear-gradient(top, #7ab5d3, #336699);
  background-image: linear-gradient(to bottom, #7ab5d3, #336699);
}

div.skipped {
  background-color: #ffffdd;
}

div.completed {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
}

div.failed {
  background-color: #ee5f5b;
}

div.datastore {
  display: inline-block;
  *display: inline;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

div.legend-entry {
  width: 50px;
  height: 30px;
  font-size: 9pt;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 3px;
}

label.collapse-node {
  position: absolute;
  top: 0;
  left: 1px;
  font-weight: bold;
  cursor: pointer;
}

label.expand-node {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  cursor: pointer;
}

table.progress_bar {
  border: 1px solid #333333;
  height: 12px;
  border-collapse: collapse;
  margin: auto;
  width: 100px;
}
table.progress_bar td {
  padding: 0;
  margin: 0;
}

#detail {
  border: 1px solid #333333;
  border-collapse: collapse;
}
#detail td {
  border: 1px solid #888888;
  border-left-width: 0;
}
#detail td.ec {
  border-right-width: 0;
  font-weight: bold;
}
#detail td.ec label {
  cursor: pointer;
}
